<form action="{% url 'polls:vote' question.id %}" method="post"> <!-- polls 앱 내의 vote 뷰를 호출하고, 해당 뷰에 question.id 값을 넘겨줌 -->
    {% csrf_token %} <!--  CSRF(Cross-Site Request Forgery) 공격을 방지하기 위해 이 템플릿 태그를 사용 -->
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend> <!-- fieldset의 제목 -->
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>